
:root {

  --primary-color: #17a2b8;

  --dark-color: #343a40;

  --light-color: #f4f4f4;

  --danger-color: #dc3545;

  --success-color: #28a745;

}

.sidenav{

  background-color:white;

}

#nav-logo{

  color: #039be5!important;

}

.sidenav-trigger i{

  color:#039be5!important;

}

.loader {

  position: absolute;

  top: 40%;

  left: 47%;

}

#CYP i{font-size:2.2rem;}

#sif{padding-bottom:1.5rem;font-size:1.5rem;}

#SI i{font-size:1.2rem}

#hu{

  padding-bottom:1.5rem;font-size:1.5rem;

}

#g{padding:15px 0px 15px 15px;}

#supr{margin: 2.52rem 0 1.912rem 0;}

.login {

  margin-top: 70px;

  margin-bottom: 70px;

}

#defs{margin:10px auto;}

#defs button{margin:10px auto}

#buf{padding:40px 0 40px 0;}

#buf h2{margin:0 0 0 0;padding-bottom:10px}

#buf h5{padding-bottom:0px}

#buf p{padding-bottom:10px}

#ch{background-color:#f4f4f4;padding:40px 0 40px 0;}

#ch ul{display:flex;justify-content:center;margin:20px auto}

#ch divider{width:75%;margin:40px auto}

#madar{margin:20px auto}

#set{border: #ccc solid 1px; padding:10px;}

#seet{border: #ccc solid 1px; padding:10px;}

#gt .row{

  background-color:#f4f4f4;

  padding-top:4px;

  margin-bottom:20px;

  margin-top:5px;

}

.badge {

    font-size:1.2rem;

    padding: 0.1rem;

    text-align: center;

    margin: 0.3rem;}

.btn-extended {

  display: block;

  width: 80%;

  margin: auto;

  margin-top: 20px;

}

#particles-js {

  position: absolute;

  width: 100%;

  height: 100%;

  background-repeat: no-repeat;

  background-size: cover;

  background-position: 50% 50%;

  z-index: 1;

}

.main{

  position: absolute;

  top: 0;

  width: 100%;

}

.main1 .SI{

  position: absolute;

 

  bottom: 50%;

  width: 100%;

}

#canvas{

  position: relative;

  height:1280px!important;

  max-width: 100%;

}

html,body{

  height: 100%;

  width: 100%;

}

#land{

  background-image: url('https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg');

}

body{

  color:black;

}

.selectinput{

  color:white!important;

}

#login-page {

   width: 500px;

}

.datepicker-day-button{

  color:black!important;

}

.is-disabled{

  color:red!important;

}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label{

  color:#039be5!important;

}

.input-field input[type]:focus, .materialize-textarea:focus:not([readonly]) {

border-bottom: 1px solid #039be5!important;

box-shadow: 0 1px 0 0 #039be5!important;

}

textarea.materialize-textarea:focus:not([readonly]){

  color:#039be5!important;

}

textarea.materialize-textarea:focus:not([readonly])+label{

  color:#039be5!important;

}

.collapsible li{

  color:black!important;

}

.cont {

  padding: 0 18px;

  display: none;

  overflow: hidden;

  background-color: #f1f1f1;

}

.card {

     position: absolute;

     left: 50%;

     top: 50%;

     -moz-transform: translate(-50%, -50%);

     -webkit-transform: translate(-50%, -50%);

     -ms-transform: translate(-50%, -50%);

     -o-transform: translate(-50%, -50%);

     transform: translate(-50%, -50%);

}

.exp{

    width:80px;

    height:80px;

    background-color:white;

    border-radius:100%;

    line-height:80px;

    text-align:center;

    vertical-align:middle;

    display:inline-block;

}

.expsi{

    width:50px;

    height:50px;

    background-color:white;

    border-radius:100%;

    line-height:50px;

    text-align:center;

    vertical-align:middle;

    display:inline-block;

}

.lead.c2{

  padding-left:3%;

}

i.ep{

    text-align:center;

    vertical-align:middle;

    display:inline-block;

    font-size:2.2rem;

}

#face{

  width: 30px;

  height: 30px;

  line-height:30px;

  text-align:center;

  vertical-align:middle;

  display:inline-block;

  font-size: 1.5rem

}

#person { line-height: inherit;font-size: 4rem;color:#039be5!important}

.start{

  padding-top: 4%;

  left:-50px;

}

.container{

  overflow:hidden;

}

@media (max-width: 576px) {

  #nav-logo{

    font-size: 1.2rem;

  }

  #CYP h2{

    font-size:2.5rem ;

  }

  #CYP h4{

    font-size:1.4rem;

  }

}

@media(max-width :425px){

  .SI h1{

    font-size: 2rem;

  }

  .SI h5{

    font-size: 1rem;

  }

 

}

 

@media (min-width: 1024px){

  #nav-logo{

    left:2%

  }

}

.dropdown-content li>a, .dropdown-content li>span{

  color: black!important;

}

input{

  color:#039be5!important;

}

label{

  font-size:1.2rem!important;

}

.Si{

  padding-left:5%!important

}

.collection li{

  color: black!important;

  border: none!important;

}

button:focus{

  background-color: white!important;

}

ul.collection{

  border:none!important;

}

.collapsible{

  border:none!important;

}

.collapsible-header{

  border-radius: 15px;

}

.collapsible-body{

  background-color: white;

}

#d{width: 40%!important;}

#bx{

  border:#ccc solid 1px;

}

#im{

  padding-top: 4%;

}

#lod{

  padding-bottom: 28px;

  justify-content:left;

}

#h h3{

  margin-bottom: 0;

}

#cr {

  max-width: 1100px;

  margin: auto;

  overflow: hidden;

  padding: 0 2rem;

  margin-top: 6rem;

  margin-bottom: 3rem;

}

.p {

  padding: 0.5rem;

}

.p-1 {

  padding: 1rem;

}

.p-2 {

  padding: 2rem;

}

.p-3 {

  padding: 3rem;

}

.py {

  padding: 0.5rem 0;

}

.py-1 {

  padding: 1rem 0;

}

.py-2 {

  padding: 2rem 0;

}

.py-3 {

  padding: 3rem 0;

}

 

/* Margin */

.m {

  margin: 0.5rem;

}

.m-1 {

  margin: 1rem;

}

.m-2 {

  margin: 2rem;

}

.m-3 {

  margin: 3rem;

}

.my {

  margin: 0.5rem 0;

}

.my-1 {

  margin: 1rem 0;

}

.my-2 {

  margin: 2rem 0;

}

.my-3 {

  margin: 3rem 0;

}

.btn-dark,

.bg-dark,

.badge-dark,

.alert-dark {

  background: var(--dark-color);

  color: #fff;

}

.btn-white,

.bg-white,

.badge-white,

.alert-white {

  background: #fff;

  color: #333;

  border: #ccc solid 1px;

}

.post-form .post-form-header {

  background: var(--primary-color);

  padding: 0.5rem;

}

 

.post {

  display: grid;

  grid-template-columns: 1fr 4fr;

  grid-gap: 2rem;

  align-items: center;

}

 

.post > div:first-child {

  text-align: center;

}

 

.post img {

  width: 100px;

}

 

.post .comment-count {

  background: var(--light-color);

  color: var(--primary-color);

  padding: 0.1rem 0.2rem;

  border-radius: 5px;

  font-size: 0.8rem;

}

 

.post .post-date {

  color: #aaa;

  font-size: 0.8rem;

  margin-bottom: 0.5rem;

}

.bg-primary{  color: #fff;}

 

.btn-primary,

.bg-primary,

.badge-primary,

.alert-primary {

  background: var(--primary-color);

  color: #fff;

}

 

.btn-light,

.bg-light,

.badge-light,

.alert-light {

  background: var(--light-color);

  color: #333;

}

 

.btn-dark,

.bg-dark,

.badge-dark,

.alert-dark {

  background: var(--dark-color);

  color: #fff;

}

.btn-danger,

.bg-danger,

.badge-danger,

.alert-danger {

  background: var(--danger-color);

  color: #fff;

}

 

.btn-success,

.bg-success,

.badge-success,

.alert-success {

  background: var(--success-color);

  color: #fff;

}

 

.btn-white,

.bg-white,

.badge-white,

.alert-white {

  background: #fff;

  color: #333;

  border: #ccc solid 1px;

}

.text-primary {

  color: var(--primary-color);

}

 

.text-dark {

  color: var(--dark-color);

}



